<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <div class='locationDiv'>
    <h3>You are currently searching for "{{ location }}"</h3>
    <div class='bottom'>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q={{ query }}&key=[GOOGLE-MAPS-API-KEY]" allowfullscreen></iframe>
    </div>
    </div>
</body>
</html>
